<form #createCharacterForm="ngForm" (ngSubmit)="createCharacter()" class="post-form">
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Id</mat-label>
        <input matInput type="number" name="Id" [(ngModel)]="model.id" placeholder="ID" min="0"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Name</mat-label>
        <input matInput name="name" [(ngModel)]="model.name" placeholder="Name"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Hit Points</mat-label>
        <input matInput type="number" name="hitPoints" [(ngModel)]="model.hitPoints" placeholder="0" min="0" max="20"/>
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Strength</mat-label>
        <input matInput type="number" name="Strength" [(ngModel)]="model.strength" placeholder="0" min="0" max="20" />
    </mat-form-field>
        <mat-form-field appearance="fill" class="form-field">
            <mat-label>Defense</mat-label>
            <input matInput type="number" name="Defense" [(ngModel)]="model.defense" placeholder="0" min="0" max="20" />
        </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Intelligence</mat-label>
        <input matInput type="number" name="Intelligence" [(ngModel)]="model.intelligence" placeholder="0" min="0" max="20" />
    </mat-form-field>
    <mat-form-field appearance="fill" class="form-field">
        <mat-label>Class</mat-label>
        <mat-select [(ngModel)]="model.Class" name="class">
            <mat-option value="1">Plumber</mat-option>
            <mat-option value="2">Cop</mat-option>
            <mat-option value="3">Catlady</mat-option>
            <mat-option value="4">Mechanic</mat-option>
            <mat-option value="5">Student</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="form-field">
        <button mat-raised-button color="aliceblue" type="submit" class="form-button">Create Character</button>
        <button mat-raised-button color="red" type="button" class="form-button" (click)="cancel()">Cancel</button>
    </div>