<div *ngFor="let character of charList">
<mat-card class="char-card" routerLink="/GetAll">
    <mat-card-header>
        <mat-card-title>{{character.Name}}</mat-card-title>
        <mat-card-subtitle>{{character.Class}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>HP: {{character.summary}}</li>
            <li>Strength: {{character.Strength}}</li>
            <li>Defense: {{character.Defense}}</li>
            <li>Intelligence: {{character.Intelligence}}</li>
        </ul>
    </mat-card-content>
</mat-card>
</div>


