<div *ngFor="let ch of charArray">
<mat-card class="char-card" routerLink="/GetAll">
    <mat-card-header>
        <mat-card-title><a routerLink="/Character/{{ch.id}}">{{ch.name}}</a></mat-card-title>
        <mat-card-subtitle>{{ch.class}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <ul>
            <li>HP: {{ch.hitPoints}}</li>
            <li>Strength: {{ch.strength}}</li>
            <li>Defense: {{ch.defense}}</li>
            <li>Intelligence: {{ch.intelligence}}</li>
        </ul>
    </mat-card-content>
</mat-card>
</div>


